* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(202, 202, 202);
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  
}
#app {
  margin-top: 50px;
  position: relative;
  width: 90%;
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap:20px;
  box-sizing: border-box;
}
.image-container {
  display: flex;

}
.image {
  width: 100%;
}
.big-div {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgba(75, 75, 75, 0.747);
  user-select: none;
}
.big-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 1100px;
}
.arrowRight {
  background-image: url("/assets/icons/arrow-right.png");
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  width: 55px;
  height: 65px;
  z-index: 1000;
}
.arrowLeft {
  background-image: url("/assets/icons/arrow-left.png");
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  width: 55px;
  height: 65px;
  z-index: 1000;
}
